h1 {
	font-size: 50px;
}
p {
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
}

.flex-container {
	display: flex;
}
.orange-color {
	color: orange;
}
.half-width {
	width: 40%;
	margin: 0 5%;
}
.half-width img {
	width: 100%;
	object-fit: contain;
}
.top-banner {
	margin: 50px;
}

.link-button {
	text-decoration: none;
	color: white;
	background-image: linear-gradient(to right, orange, tomato);
	padding: 0.5em 1em;
	border-radius: 20px;
}
