body {
	margin: 0;
}
h1 {
	font-size: 50px;
}
p {
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
}

.flex-container {
	display: flex;
}
.orange-color {
	color: orange;
}
.half-width {
	width: 45%;
	margin: 0 2%;
}
.half-width img {
	width: 100%;
	object-fit: contain;
}
.top-banner {
	margin: 50px;
}

.link-button {
	text-decoration: none;
	color: white;
	background-image: linear-gradient(to right, orange, tomato);
	padding: 0.5em 1em;
	border-radius: 20px;
}

.about-me {
	background-image: url("images/7.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 30px;
}
.about-img img {
	height: 500px;
}
.recipe {
	text-align: center;
}
.half-width-recipe {
	width: 35%;
	margin: auto;
	border: 1px solid white;
	padding: 10px;
	box-shadow: 10px 10px 40px gray;
	border-radius: 5%;
}

.half-width-recipe img {
	width: 100%;
}
.third-half-width {
	flex-grow: 1;
}
.third-half-width:first-child {
	margin-left: 10%;
}
.follower {
	width: 85%;
	margin: 50px auto;
	border: 1px solid white;
	box-shadow: 10px 10px 40px gray;
	border-radius: 10px;
}

footer {
	text-align: center;
	background-color: black;
	color: white;
	padding: 30px 0px;
}
